################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenGL/CopilotIndices/17.14.786.1071
/.vs/OpenGL/FileContentIndex
/.vs/OpenGL/v17
